@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 200vh;
    width: 100vw;
    font-family: "Montserrat", sans-serif;
 
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}


li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}

.logo {
    cursor: pointer;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
    padding: 0px 0.3rem;
}

.menu li a, a:hover{
    transition: all 0.3s ease 0s;

}
.menu a:hover {
    color: #8dd5ec;
}

.logo img{
    height: 2rem;
    width: 2rem;
}

button {
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    background-color: #f6d481;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta button:hover {
    transition: all 0.3s ease 0s;
    color: #8dd5ec;
}

.hero{
    display:flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    align-items: center;
    background-color: #f5f5f5;
    padding: 2rem;

}   
.hero img {
    height: 25rem;
    margin-top: 1rem;
}

.hero p {
    font-size: 3rem;
    font-weight: 700;
    padding: 0.5rem;
    margin-top: 2rem;
}

.hero h3 {
    margin-top:2rem;
    margin-bottom: 4rem;
}

#grid {
    margin-top:3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap:0.5rem;

}

#item1, #item2, #item3 {
    
    font-weight: 700;  
    font-size: 2rem; 
}

.container-2 {
    display: flex;
    justify-content:space-around;
    position: absolute;  
    padding: 2rem;
    align-items:flex-start
     
}
.div-photo-2{
    position:relative;
}

.content-2 h2{
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5rem;
    margin-top: 2rem;
}
.content-2 p{
    padding: 0.5rem;
    
}
#second-image {
    height:20rem;
}

#checkmark {
    color:#8dd5ec;
}