@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 200vh;
    width: 90vw;
    font-family: "Montserrat", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}
.logo{
    display:flex;
    align-
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.logo {
    cursor: pointer;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
    padding: 0px 0.3rem;
}

.menu li a, a:hover{
    transition: all 0.3s ease 0s;

}
.menu a:hover {
    color: #8dd5ec;
}

.logo img{
    height: 1.5rem;
    width: 1.5rem;
}

button {
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    background-color: #f6d481;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta button:hover {
    transition: all 0.3s ease 0s;
    color: #8dd5ec;
}

